---
import FetchForm from "../components/fetcher";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Album of the year fetcherer">
  <main>
    <FetchForm client:only="react" />
  </main>
</Layout>
